@using SpicyTemplate.Areas.Manage.ViewModels
@using SpicyTemplate.Models
@model CreateVM



<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Basic form elements</h4>
            <p class="card-description">
                Basic form elements
            </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label  asp-for="Name" for="exampleInputName1">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" for="exampleInputName1">Price</label>
                    <input asp-for="Price" class="form-control" placeholder="Price">
                    <span asp-validation-for="Price"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" for="exampleInputName1">Image</label>
                    <input asp-for="Image" class="form-control" placeholder="Image">
                    <span asp-validation-for="Image"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" for="exampleInputName1">Desc</label>
                    <input asp-for="Description" class="form-control" placeholder="Desc">
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" for="exampleInputName1">category</label>
                    <select asp-for="CategoryId" class="form-control" placeholder="categoryid" asp-items="new SelectList(Model.categories,nameof(Category.Id),nameof(Category.Name))">
                        <option disabled ></option>
                    </select>>
                    <span asp-validation-for="CategoryId"></span>
                </div>


                
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>
